<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
        <meta content="noindex" name="robots">

        <title>ToShopList - Mentions légales</title>
        <link href="{{ asset('css/bootstrap/compiled/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('css/style.min.css') }}" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans|Permanent+Marker&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/d36a8700a0.js"></script>

    </head>
    <body>
        <div class="container mb-3 mt-3">
            <br><div>
                <a class="font-weight-bold" href="{{ path('security_registration') }}">
                    <span class="fas fa-long-arrow-alt-left"></span>
                    Retour au site</a>
            </div>

            <br><h1 class="title text-secondary">Mentions légales</h1><br>
            <div class="bg-light p-3">
                <h6 class="title">Qui sommes-nous ?</h6>
                <p>L’adresse de notre site est : https://projet5.mesmodulesdevalidationoc.fr/.<br>
                    Éditeur du site : Lauriane<br>
                    Coordonnées : chicartlauriane@gmail.com<br>
                    Création et mise en ligne du site : Lauriane, raison sociale, coordonnées<br>
                    Hébergement :<br>
                    1&1 Internet SARL<br>
                    7, place de la Gare – BP 70109<br>57201 SARREGUEMINES
                </p>
            </div><br>

            <div class="bg-light p-3">

                <h6 class="title">Données personnelles</h6>
                <p>
                    Pour la création de votre compte, vous devez renseigner une adresse e-mail. Cela est fait dans un unique but d'identification : aucun e-mail ne vous sera envoyé et votre adresse e-mail ne sera pas communiquée à des services tiers.
                </p>
                <p>Les informations que vous placez dans votre compte (mémo, recettes, plannings, listes) sont confidentielles et vous avez la possibilité de les modifier ou de les supprimer.</p>
                <p>Sauf demande contraire de votre part, ces informations sont conservées sans limite de temps.</p>
            </p>
        </div><br>

        <div class="bg-light p-3">

            <h6 class="title">Propriété intellectuelle</h6>
            <p>Les recettes que vous renseigner dans votre espace engage votre responsabilité. Pour rappel, la reproduction et/ou exploitation totale(s) ou partielle(s) de textes sans accord préalable de l'auteur sont interdite(s) par la loi.</p>
        </div><br>
        <div>
            <a class="font-weight-bold" href="{{ path('security_registration') }}">
                <span class="fas fa-long-arrow-alt-left"></span>
                Retour au site</a>
        </div><br>


    </body>
</html>
