#presentation {
    padding-top: 60px;
    padding-bottom: 80px;
}
#presentation-titles{
    margin-bottom: 2em;
}
#explainations
{
    padding-top: 100px;
    padding-bottom: 100px;
}
.explainImage, .explaination-step p{
    margin-bottom: 0.8em;
}
.explainImage{
    max-width: 300px;
}
#explainations p{
    font-size: 1.3em;
}
.explantion-img{
    max-width: 300px;
}
#subscription{
    width: 100%;
    background-color: rgba(50, 50, 50, 0.2);
    padding: 20px;
}
h1{
    font-size: 2em;
}
h2{
    font-size: 2.7em;
}
/*transition : apparition et translation des éléments "reveal" de la page*/
[class*="reveal-"]{
    opacity: 0;
    -webkit-transform: translateY(-30px);
        -ms-transform: translateY(-30px);
            transform: translateY(-30px);
}
.reveal-visible{
    opacity: 1;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
    -webkit-transition: 1s ease;
    -o-transition: 1s ease;
    transition: 1s ease;
}
.reveal-2{
    -webkit-transition-delay: 0.3s;
         -o-transition-delay: 0.3s;
            transition-delay: 0.3s;
}
.reveal-3{
    -webkit-transition-delay: 0.6s;
         -o-transition-delay: 0.6s;
            transition-delay: 0.6s;
}